/* You can add global styles to this file, and also import other style files */
.pad{
  padding-top: 30px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d8d6d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
